.btn-block {
	width: 100%;
}

html, body {
	height: 100%;
}

#resultChart {
	display: inline-block !important;
}
.inline-icon {
   vertical-align: sub;
   margin-left: 5px;
   font-size: 18px !important;
}
.tooltipped {
	text-decoration: underline #e3f2fd;
}

.tabs {
	background-color: transparent;
}

.tabs .tab a{
	color: #1565c0;
	} /*Black color to the text*/

	.tabs .tab a:hover {
		background-color:#e3f2fd;
		color:#1565c0;
		} /*Text color on hover*/

		.tabs .tab a.active {
			background-color:#1565c0;
			color:#fff;
			} /*Background and text color when a tab is active*/

			.tabs .indicator {
				background-color:#1a237e;
				} /*Color of underline*/
				.tabs .tab a:focus, .tabs .tab a:focus.active {
					background-color: #1565c0;
					color: white;
					outline: none;
				}

				.tabs .tab a:hover, .tabs .tab a.active {
					background-color: #1565c0;
					color: white;
				}